<header id="top" class="slider-wrapper">
  <div class="flexslider header-content urisa-slider">
    <ul class="slides">
      <li>
        <div class="inner inner-slide">
          <h1 class="slider-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
          <h5 class="wow fadeIn text-normal">{% if page.subtitle %}{{ page.subtitle }}{% else %}&nbsp;{% endif %}</h5>
          <hr>
          {% if page.slider == true or page.homepage == true %}<a href="#content" class="btn btn-primary-outline btn-lg page-scroll wow fadeInUp">Learn More</a>{% endif %}
        </div>
      </li>
      {% if page.slider == true or page.homepage == true %}
      {% if post.title %}{% assign title = post.title %}{% elsif page.title %}{% assign title = page.title %}{% endif %}
      {% assign counter = 0 %}
      {% assign maxPostCount = 3 %}
      {% for post in site.posts %}
      {% if post.title != title  and counter < maxPostCount  %}
      {% assign counter=counter | plus:1 %}
      <!-- display post -->
      <li>
        <div class="inner">
          <h1 class="slider-title">{{ post.title }}</h1>
          <h5 class="wow fadeIn text-normal">{% if post.subtitle %}{{ post.subtitle }}{% else %}&nbsp;{% endif %}</h5>
          <hr>
          <a href="{{ post.url | remove: 'index.html' }}" class="btn btn-primary-outline btn-lg wow fadeInUp">Read More</a>
        </div>
      </li>
      {% endif %}
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</header>
