<header id="top" class="slider-wrapper">
  <div class="flexslider header-content urisa-slider">
    <ul class="slides">
      <li>
        <div class="inner inner-slide">
          <h1 style="font-size:45px;">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}{% endif %}</h1>
          <h5 class="wow fadeIn text-normal">{% if page.subtitle %}{{ page.subtitle }}{% endif %}</h5>
          <hr>
          <a href="#about" class="btn btn-primary-outline btn-lg page-scroll wow fadeInUp">Learn More</a>
        </div>
      </li>
      <li>
        <!--insert for loop-->
        <div class="inner">
          <h1 style="font-size:45px;">2016 Ohio GIS Conference</h1>
          <h5 class="wow fadeIn text-normal">Apps, Bridges &amp Gaps</h5>
          <hr>
          <a href="#about" class="btn btn-primary-outline btn-lg wow fadeInUp">Read More</a>
        </div>
      </li>
      <li>
        <div class="inner">
          <h1 style="font-size:45px;">Post #2</h1>
          <h5 class="wow fadeIn text-normal">This is a post with the 'featured: true' in the yaml header</h5>
          <hr>
          <a href="#about" class="btn btn-primary-outline btn-lg wow fadeInUp">Read More</a>
        </div>
      </li>
      <li>
        <div class="inner">
          <h1 style="font-size:45px;">Featured Post #3</h1>
          <h5 class="wow fadeIn text-normal">Featured posts would be limited to 3 roughly</h5>
          <hr>
          <a href="#about" class="btn btn-primary-outline btn-lg wow fadeInUp">Read More</a>
        </div>
      </li>
    </ul>
  </div>
</header>
