<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button class="navbar-toggler hidden-md-up pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
      <!--☰-->
      <i class="icon-md ion-grid"></i>
    </button>
    <div class="site-logo-wrapper">
      <a class="page-scroll" href="/"><img class="site-logo" src="{{ site.baseurl }}/img/{{ site.logo }}" /></a>
      <span class="call-to-action site-logo header-button">
        <a href="{{ site.baseurl}}/#events" class="btn btn-danger-outline btn-sm text-uppercase" style="visibility: visible; animation-name: flipInX;" id="eventBanner">Next Event</a>
      </span>
    </div>
    <!--a class="navbar-brand page-scroll" href="#first">Ohio Chapter of URISA</a-->
    <div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
      <ul class="nav navbar-nav">
        <!--original menu-->
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li class="nav-item">
          <a class="nav-link page-scroll" href="{{ site.baseurl }}/#content">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="{{ site.baseurl }}/#events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="{{ site.baseurl }}/#news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="{{ site.baseurl }}/#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll" href="{{ site.baseurl}}/#user-groups">User Groups</a>
        </li>
        <!--li class="nav-item">
                <a class="nav-link page-scroll" href="#four">Mentoring</a>
              </li>
              <li class="nav-item">
                <a class="nav-link page-scroll" href="#four">Membership</a>
              </li-->
        <li class="nav-item">
          <a class="nav-link page-scroll" href="{{ site.baseurl }}/#connect">Connect</a>
        </li>
        <li class="nav-item">
          <a class="nav-link page-scroll nav-search" data-toggle="modal" href="#searchModal" target="ext" ><i class="icon ion-search nav-search"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
