<!DOCTYPE html>
<html>
<html lang="en">
{% include head.html %}
{% if page.homepage == true %}<style>header{min-height:100%;!important}</style>{% endif%}
{% if page.app == true %}
<body>
  {{ content }}
</body>
{% if page.map %}<!--map script-->
<script>
{% include {{ page.map }} %}
</script>{% endif %}
{% else %}
<body class="bg-faded">
{% include header.html %}
{% if page.homepage %}
{% include nav-home.html %}
<div id="content">
{{ content }}
</div>
{% else %}
{% include nav.html %}
<div id="content">
  <section>
    <div class="container wow fadeInUp">
        {{ content}}
  </section>
</div>
{% endif %}
</body>
{% include footer.html %}
{% if page.map %}<!--map script-->
<script>
{% include {{ page.map }} %}
</script>{% endif %}
{% endif %}
</html>
